<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Lessor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>
<header th:insert="services/header :: header"></header>
<main>
    <div class="container mt-10">
        <h1>Edit Apartment</h1>

        <form method="post"  th:action="@{'/editApartment/' + ${apartment.getId()}}">
            <input type="text" name="address" class="form-control col-md-7"  th:value="${apartment.getAddress()}"><br>
            <input type="text" name="number" class="form-control col-md-7" th:value="${apartment.getNumberOfRooms()}"><br>
            <br>
            <input type="submit"  value="Edit" class="col-md-7">
        </form>

    </div>
</main>

<footer th:insert="services/footer :: footer"></footer>
</body>
</html>